.footer {
  width: 100%;
  background: #000;
  color: #ccc;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #333;
  font-family: sans-serif;
  margin-top: 60px;
}

.footer-content p {
  margin: 5px 0;
  font-size: 14px;
}

.footer a {
  color: #52aaff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.socials i {
  font-size: 18px;
  margin-left: 6px;
}

.footerlog {
  height: 40px;
}
