.footer {
  width: 100%;
  background: rgb(0, 0, 0);
  color: rgb(204, 204, 204);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(51, 51, 51);
  font-family: sans-serif;
  margin-top: 150px;
}

.footer-content p {
  margin: 5px 0;
  font-size: 14px;
}

.footer a {
  color: rgb(82, 170, 255);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.socials i {
  font-size: 18px;
  margin-left: 6px;
}

.footerlog {
  height: 40px;
}
