* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            background-color: #1a1a1a;
            color: white;
            padding-top: 20px;
            min-height: 100vh;
        }

        body {
    background-color: var(--color-dark-bg);
    color: var(--color-text-light);
    min-height: 100vh;
}


    :root {
    --color-dark-bg: #101216;
    --color-dark-surface: #191c20; 
    --color-text-light: #e0e0e0;
    --color-accent-orange: #f45b2f; 
    --color-accent-red: #d11919;
    --color-accent-green: #38a169;
}




main {
    padding: 100px 40px;
  
}

