* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(26, 26, 26);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-container {
    background-color: rgb(28, 28, 28);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 380px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.logo img {
    width: 80px;
    margin-bottom: 20px;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    font-size: 14px;
}

input:focus {
    outline: none;
    border: 2px solid #32d06a;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: orangered;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: rgb(40, 164, 85);
}

.bottom-text {
    margin-top: 20px;
    color: rgb(177, 177, 177);
    font-size: 14px;
}

.bottom-text a {
    color: rgb(50, 208, 106);
    text-decoration: none;
}

.bottom-text a:hover {
    text-decoration: underline;
}