
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.title {
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}

.item-count {
    font-size: 20px;
    color: rgb(136, 136, 136);
}

.filter-row {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    align-items: center;
}

.filter-row select, .search-input-small input {
    background-color: var(--color-dark-surface);
    color: var(--color-text-light);
    border: 1px solid #333;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    appearance: none; 
}

.search-input-small {
    background-color: var(--color-dark-surface);
    border: 1px solid #333;
    border-radius: 4px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.search-input-small input {
    border: none;
    padding: 8px 0;
    width: 150px;
}

.filter-button {
    background-color: var(--color-accent-orange);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
